@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,800&display=swap");
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-thumb {
  padding: 5px;
  border-radius: 10px;
  background-color: tomato;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
